body {
    color:black;
    background-attachment: fixed;
    background-image:url(https://amicalecoteauessert.files.wordpress.com/2017/05/petanque.jpg);
    background-repeat:repeat;
}

.PetiteDivCentre {
    border-radius: 20px;
    min-width: 500px;
    width: 30%;
    text-align: center;
    margin:0 auto;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, .8);
    padding: 40px;
}

.DivPage {
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, .8);
    padding: 40px;
}